@import "colors.scss";
@import "fonts.scss";

.App {
    display: flex;
    justify-content: center;

    &-logo {
        height: 40vmin;
        pointer-events: none;
    }

    &-header {
        background-color: $dark-color;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: calc(10px + 2vmin);
        color: $white;
    }

    &-link {
        color: $light-blue;
    }
}
  
.sidebar-container {
    text-align: initial;
}
  
.title {
    font-family: $font-quick;
    font-weight: bold;
}
  
.text {
    font-family: $font-asap;
    font-size: 5vw;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}
  
@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
  