$dark-color: #282c34;
$light-blue: #61dafb;
$white: #eeeeee;
$green-active: #48d198;
$gray: #b0b0b0;
$soft-gray: #F2F3F4;
$not-so-soft-gray: #656565;
$icon-gray: #D2DAE2;
$orange: #FFA834;
$playing-song: #f0c47e;
$selected-item: #FFF6EC;
$broken-link-background: #f0a27e;