$dark-color: #282c34;
$light-blue: #61dafb;
$white: #eeeeee;
$green-active: #48d198;
$gray: #808080;
$soft-gray: #F2F3F4;
$not-so-soft-gray: #808080;
$icon-gray: #D2DAE2;
$orange: #FFA834;
$playing-song: #f0c47e;
$selected-item: #FFF6EC;
$broken-link-background: #f0a27e;
$dark-background: #1E1E1E;
$dark-soft-background: #8d8d8d;
$dark-theme-color: #8f8f8f;
$volume-orange: rgb(238, 157, 8);
$orange-active: rgb(252, 211, 136);