.content-container {
    width: 100%;
}

#your-personal-library {
    font-size: 20px;
    text-align: left;
    padding: 6vw;
    padding-left: 5vw;
}

@media(min-width: 1024px) {
    #your-personal-library {
        font-size: 25px;
        margin: 1vw 2vw;
        padding-left: 3vw;
    }
}