@import '../../../styles/colors.scss';
@import '../../../styles/fonts.scss';
@import '../../../styles/sizes.scss';
.settings-container {
    padding: 0 5vw;
    padding-bottom: $multi-player-mobile;
}

.solid-gray-bar {
    margin: 0 5vw;
    border: 1.5px solid $soft-gray;
}

.section-title {
    border-bottom: 1px solid $soft-gray;
    color: $not-so-soft-gray;
    font-size: 16px;
    font-family: $font-asap;
    padding-bottom: 2vh;
}

.section-container {
    margin: 4vh 0;
}

.option-toggle-container {
    display: flex;
    justify-content: space-between;
}

.option-title {
    color: $not-so-soft-gray;
    font-family: $font-asap;
    font-size: 15px;
}

.option-hover {
    cursor: pointer;
}

.dark-theme-background {
    background-color: $dark-background !important;
}

.dark-soft-theme-background {
    background-color: $dark-soft-background !important;
}

.dark-theme-color {
    color: $dark-theme-color !important;
}

.dark-theme-name {
    color: white;
}

.copy-right-container {
    padding-top: 2vh;
}

.copy-right {
    font-size: 12px;
}

.pref-button {
    border-radius: 50px;
    border: none;
    padding: 1vh 2.5vw
}