.home-container img:hover {
    cursor: pointer;
}

.home-container {
    padding: 2vw;
    padding-right: 0;
}

@media (min-width: 1024px) {
    .home-container {
        padding: 2vw 1vw;
        padding-right: 0;
        padding-bottom: 0;
    }
}