extends layout

block content
    script(src="/javascripts/utils.js")
    h1= title
    img()
    div
        a(href=`${dropbox.auth.getAuthenticationUrl(`${url}/login`)}`) 
            button Dropbox

    div
        a(href=`/pricing`) Pricing 
        a(href=`/privacy`) privacy
        a(href=`/terms-of-service`) Terms of Service

    script(src='/javascripts/cookie.js' type='module')
    script(src='/javascripts/token.js' type='module')
    script(src='/javascripts/redirect.js' type='module').
        


        





