.directory-container {
    display: flex;
    align-items: center;
    justify-content: left;
    border-top: 2px solid #b0b0b0;
}

.directory-container .title {
    margin-left: 0.8vw;
}

@media (min-width: 1024px) {
    .directory-container {
        padding: 1vw;
    }
}