@import "../../../styles/colors.scss";
@import "../../../styles/sizes.scss";
@import "../../../styles/fonts.scss";
.button-active {
    background-color: $green-active;
}

.audio {
    display: none;
}

.audio-container {
    background: #F7F6F6;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: $multi-player;
    display: flex;
    justify-content: center;
}

.audio-player {
    width: 100%;
}

.buttons {
    align-items: center;
    display: flex;
    height: 90%;
    width: 100%;
    flex-direction: column;
    padding: 1vh 5vw;
    padding-top: 0.2vh;
    justify-content: space-around;

    & button {
        border-radius: 10px;
        background-color: transparent;
        border-color: transparent;
        padding: 0.5vw;
    }
    
    & button * {
        height: 100%;
        width: 100%;
    }
}

.player-button {
    height: 5vh;
    width: 12vw;
}

.play-button {
    height: 8vh;
    width: 18vw;
}

.disable-buttons {
    pointer-events: none;
    opacity: 0.5;
}

.nav-text a:hover {
    color: $orange;
}

.file-name-playing {
    font-size: 12px;
    margin-bottom: 0 !important;
    overflow: hidden;
    font-family: $font-asap;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

@media (min-width: 1024px) {
    .audio-container {
        height: 8vw;
        padding: 2vw;
        padding: 0;
    }

    .player-button {
        height: 5vh;
        width: 10vw;
    }

    .play-button {
        height: 8vh;
        width: 17vw;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .player-button {
        margin-top: 1.5vw;
        height: 3vh;
        width: 6vw;
        margin: 0;
    }

    .audio-container {
        height: $multi-player - 5;
    }
    
    .play-button {
        height: 7vh;
        width: 15vw;
    }
}

@media (min-width: 1025px) {
    .audio-container {
        height: $multi-player - 4;
    }

    .buttons {
        justify-content: center;

        & button {
            padding: 0.5vw 0;
        }
    }

    .file-name-playing {
        margin-bottom: 0.5vh !important;
    }

    .play-button {
        width: 10vw;
    }

    .player-button {
        width: 5vw;
    }

    .buttons-container {
        justify-content: center;
    }
}