@import "../../../styles/colors.scss";
@import "../../../styles/sizes.scss";
@import "../../../styles/fonts.scss";
.button-active {
    background-color: $green-active;
}

.audio {
    display: none;
}

.audio-container {
    background: #F7F6F6;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
}

.audio-player {
    width: 100%;
}

.buttons {
    align-items: center;
    display: flex;
    height: 90%;
    width: 100%;
    flex-direction: column;
    padding-top: 0.2vh;
    justify-content: space-around;

    & button {
        border-radius: 10px;
        background-color: transparent;
        border-color: transparent;
    }
    
    & button * {
        height: 100%;
        width: 100%;
    }
}

.player-button {
    height: 25px;
    width: 25px;
}

.play-button {
    height: 40px;
    width: 40px;
}

.player-button, .play-button {
    padding: 0;
}

.disable-buttons {
    pointer-events: none;
    opacity: 0.5;
}

.nav-text a:hover {
    color: $orange;
}

.file-name-playing {
    font-size: 12px;
    margin-bottom: 0 !important;
    overflow: hidden;
    font-family: $font-asap;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 40%;
    color: $not-so-soft-gray;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 50%;
    width: 100%;
}


@media (min-width: 1024px) {
    .player-button {
        height: 45px;
        width: 45px;
    }

    .play-button {
        height: 65px;
        width: 65px;
    }

    .buttons {
        justify-content: center;

        & button {
            padding: 0.5vw 0;
            margin: 0 15px;
        }
    }

    .file-name-playing {
        margin-bottom: 0.5vh !important;
        width: 100%;
    }

    .buttons-container {
        justify-content: center;
    }
}