@import url('https://fonts.googleapis.com/css2?family=Asap&family=Quicksand&display=swap');
//////////////////////// CLASSES ////////////////////////
$font-size-s: 4vw;
$font-size-m: 6vw;
$font-size-l: 8vw;
$font-quicksand: 'Quicksand',
sans-serif;
$font-asap: 'Asap',
sans-serif;
html,
body,
.main {
    height: 100%;
}

.main {
    font-size: $font-size-m;
    text-align: center;
}

.header-container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-bottom: $font-size-m;
}

.header {
    color: black;
    font-family: $font-quicksand;
    font-size: $font-size-l;
}

.text {
    color: #b0b0b0;
    font-family: $font-asap;
    font-size: $font-size-s;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10vh;
}

.buttons-container a {
    margin: 2vw 0;
}

.dropbox-btn {
    background-color: #1BA1F2;
    border-radius: 15px;
    border: none;
    color: white;
    font-family: $font-asap;
    font-size: $font-size-s;
    font-weight: bold;
    padding: 3vw 8vw;
}

////////////////////////// IDS ////////////////////////
#image-container {
    background-color: #d1c91d;
    height: 35%;
    width: 100%;
}

// #image {
// }
#content {
    padding: 2vw 14vw;
    padding-top: 10vh;
}

#sign-in {
    font-weight: bold;
}

.links-container {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1024px) {
    $font-size-s: 1vw;
    $font-size-m: 2vw;
    $font-size-l: 3vw;
    .main {
        display: flex;
    }
    #image-container {
        height: 100%;
        width: 45%;
    }
    .header {
        font-size: $font-size-m;
    }
    .text {
        font-size: $font-size-s;
    }
    .dropbox-btn {
        font-size: $font-size-m;
        padding: 1vw 2vw;
    }
    #content {
        padding: 2vw 10vw;
        margin: auto auto;
    }
    .links-container {
        left: unset;
        right: unset;
        margin-left: auto;
        margin-right: auto;
    }
}