@import "../../../styles/fonts.scss";
@import "../../../styles/colors.scss";

$img-size: 20vw;

.profile-container {
    text-align: center;
}

.profile-picture {
    height: $img-size;
    width: $img-size;
    border-radius: 50%;
}

.user-email {
    font-family: 'Asap', sans-serif;
    font-size: 4vw;
    margin-bottom: 0;
    padding: 1vw;
    padding-bottom: 0.1vw;
    word-wrap: break-word;
    color: $not-so-soft-gray;
}

.user-name {
    font-size: 5vw;
    font-weight: bold;
    padding: 3vw;
    padding-top: 0;
    word-wrap: break-word;
    font-family: 'Asap', sans-serif;
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
    $image-size: 15vw;

    .profile-picture {
        height: $image-size;
        width: $image-size;
    }

    .user-email {
        font-size: 2vw;
    }
    
    .user-name {
        font-size: 3vw;
        padding: 0;
    }
}

@media(min-width: 1024px) {
    $image-size: 6vw;

    .profile-picture {
        height: $image-size;
        width: $image-size;
    }

    .user-email {
        font-size: 1vw;
    }
    
    .user-name {
        font-size: 1.2vw;
        padding: 0;
    }
}
