$padding-left-s: 4vw;
$gray-color: #b0b0b0;
$orange-color: #FFA834;

.sidebar-item {
    display: flex;
}

.hamburger {
    background: none;
    margin-left: 0;
    padding: 2vw;
    padding-left: 0;
}

a, u {
    text-decoration: none;
    color: $gray-color;
}

a:visited {
    color: $gray-color;
}

a:hover {
    color: $gray-color;
}

a:active {
    color: $gray-color;
}

.hamburger path {
    color: $orange-color;
}

.sidebar-item-name {
    margin-top: 0;
    margin-left: 10px;
}

.navbar {
    align-items: center;
    display: flex;
    height: 50px;
    justify-content: start;
    padding-left: $padding-left-s;
}

.sidebar {
    background-color: white;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: -100%;
    position: fixed;
    transition: 200ms;
    top: 0;
    width: 200px;
}

.sidebar.active {
    left: 0;
    transition: 200ms;
    border-right: 1px solid #b0b0b0b0;
}

.nav-text {
    display: flex;
    height: 3vh;
    justify-content: start;
    list-style: none;
    padding: 7vw 2vw;
    padding-left: $padding-left-s;
}

.nav-text a {
    display: flex;
    width: 100%;
}

.nav-text a svg {
    height: 6vw;
    width: 6vw;
}

.elements {
    padding: 0;
    width: 100%;
}

.item-title {
    color: black;
    margin-left: 2vw;
}

.nav-text:active {
    background-color: $orange-color;
}


@media (min-width: 1024px) {
    .navbar {
        padding-left: 2vw;
    }

    .nav-text {
        padding: 2vw 1vw;
        padding-left: 0;
    }

    .nav-text a {
        padding-left: 1vw;
    }

    .nav-text a svg {
        height: 2vw;
        width: 2vw;
    }

    .nav-text:hover {
        background-color: $orange-color;
    }

    .item-title {
        align-self: center;
    }
}
