.sidebar-item {
    display: flex;
}

.hamburger {
    margin-left: 2vw;
    background: none;
    padding: 2vw;
}

.sidebar-item-name {
    margin-top: 0;
    margin-left: 10px;
}

.navbar {
    height: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.sidebar {
    background-color: #d7d7d7;
    width: 200px;
    height: 100vh;
    display: flex;
    position: fixed;
    justify-content: center;
    top: 0;
    left: -100%;
    transition: 200ms;
}

.sidebar.active {
    left: 0;
    transition: 200ms;
}

.nav-text {
    display: flex;
    justify-content: start;
    padding: 0.5vw;
    list-style: none;
    height: 3vh;
}
