@import "../../../styles/colors.scss";


$padding-left-s: 4vw;

.sidebar-item {
    display: flex;
}

.hamburger {
    background: none;
    margin-left: 0;
    padding: 2vw;
    padding-left: 5vw;
}

.hamburger svg {
    height: 6vw;
    width: 6vw;
}

.nav-text a, u {
    text-decoration: none;
    color: $icon-gray;
}

.close {
    fill: $orange;
}

.close path {
    fill: $orange;
}

.hamburger path, .hamburger path {
    fill: $orange;
}

.sidebar-item-name {
    margin-top: 0;
    margin-left: 10px;
}

.navbar {
    align-items: center;
    display: flex;
    height: 50px;
    justify-content: flex-start;
    padding-left: $padding-left-s;
    z-index: 1;
}

.sidebar {
    background-color: white;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: -100%;
    position: fixed;
    transition: 200ms;
    top: 0;
    width: 200px;
}

.sidebar.active {
    left: 0;
    transition: 200ms;
    border-right: 1px solid #b0b0b0b0;
    z-index: 1;
}

.nav-text {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0 4vw;
}

.nav-text a {
    display: flex;
    width: 100%;
    padding: 2vw;
    height: 8vh;
}

.nav-text a:hover {
    text-decoration: none;
}

.nav-text a svg {
    height: 6vw;
    width: 6vw;
    align-self: center;
}

.nav-text span {
    align-self: center;
    font-weight: 600;
}

.elements {
    padding: 0;
    width: 100%;
}

.item-title {
    color: black;
    margin-left: 4vw;
}

.selected-item { 
    background-color: $selected-item;
}

.selected-item path {
    fill: $orange;
}

.profile-container {
    margin-bottom: 5vh;
    margin-top: 5vh;
}

@media (min-width: 500px) {
    .nav-text a svg {
        height: 4vw;
        width: 4vw;
    }

    .nav-text a {
        padding-left: 0;
        padding: 0;
    }

    .sidebar { 
        width: 250px;
    }

    .hamburger svg {
        height: 4vw;
        width: 4vw;
    }
}

@media only screen and (min-width: 500px) and (max-width: 600px) {
    .item-title {
        font-size: 3vw;
        margin-left: 3vw;
    }
}

@media only screen and (min-width: 600px) and (max-width: 840px) {
    .item-title {
        font-size: 2.2vw;
        margin-left: 3vw;
    }
}

@media only screen and (min-width: 700px) and (max-width: 840px) {
    .item-title {
        font-size: 2vw;
        margin-left: 3vw;
    }
}

@media only screen and (min-width: 840px) and (max-width: 1024px) {
    .item-title {
        font-size: 1.8vw;
        margin-left: 1.5vw;
    }

    .nav-text {
        padding: 0 2vw;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { 
    .hamburger svg {
        height: 3vw;
        width: 3vw;
    }

    .profile-picture {
        height: 12vw;
        width: 12vw;
    }

    .user-email {
        font-size: 2vw;
    }

    .user-name {
        font-size: 2vw;
    }

    .item-title {
        margin-left: 2vw;
    }

    .nav-text {
        padding: 0vw 3vw;
    }

    .nav-text a { 
        padding: 0;
    }

    .nav-text a svg {
        height: 3vw;
        width: 3vw;
    }
}

@media (min-width: 1024px) {
    .hamburger svg {
        height: 2vw;
        width: 2vw;
    }


    .navbar {
        padding-left: 2vw;
    }

    .nav-text {    
        padding: 0 1vw;
    }

    .nav-text a {
        padding-left: 1vw;
        padding-right: 0;
    }

    .nav-text a svg {
        height: 2vw;
        width: 2vw;
    }

    .item-title {
        align-self: center;
        margin-left: 1vw;
    }

    .nav-text a:hover {
        fill: $gray;
        color: $gray;
    }

    .icon {
        padding-right: 0;
    }
}