@import "../../../styles/colors.scss";

$icon-height: 7vw;
$icon-width: 7vw;

.files-container {
    padding: 2vw;
    padding-bottom: 25vw;
}

.file-container {
    align-items: center;
    border-top: 1px solid $gray;
    display: flex;
    justify-content: flex-start;
    padding: 6vw 5vw;
}

.file-container .text {
    margin-left: 1vw;
}

.file-container:hover {
    cursor: pointer;
}

.file-name {
    max-width: 80%;
    margin-left: 20px;
    margin-bottom: 0;
    font-size: 4vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.icon {
    height: $icon-height;
    width: $icon-width;
}

.heart-icon {
    height: $icon-height - 2;
    width: $icon-width - 2;
    margin-left: auto;
    display: none;
}

.is-playing {
    background-color: $playing-song;
}

@media (min-width: 1024px){
    $icon-height: 2vw;
    $icon-width: 2vw;

    .icon {
        height: $icon-height;
        width: $icon-width;
    }

    .heart-icon {
        height: $icon-height - 2;
        width: $icon-width - 2;
    }

    .file-name {
        font-size: 1vw;
    }

    .files-container {
        padding-bottom: 8vw;
    }

    .file-container {
        padding: 1.5vw 1vw;
    }
}