$icon-height: 7vw;
$icon-width: 7vw;

.file-container {
    align-items: center;
    border-top: 1px solid #b0b0b0;
    display: flex;
    justify-content: flex-start;
    padding: 1.5vw 1vw;
}

.file-container .text {
    margin-left: 1vw;
}

.file-container:hover {
    cursor: pointer;
}

.file-name {
    max-width: 80%;
    margin-left: 20px;
}

.icon {
    height: $icon-height;
    width: $icon-width;
}

.heart-icon {
    height: $icon-height - 2;
    width: $icon-width - 2;
    margin-left: auto;
}

@media (min-width: 1024px){
    $icon-height: 2vw;
    $icon-width: 2vw;

    .icon {
        height: $icon-height;
        width: $icon-width;
    }

    .heart-icon {
        height: $icon-height - 2;
        width: $icon-width - 2;
    }
}